

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arimo:wght@700&family=Bebas+Neue&family=Gabarito:wght@400;500&family=Libre+Caslon+Text&family=Montserrat:wght@100&family=Mulish:wght@300&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: relative;
    position: sticky;
    top: 0;
    z-index: 1;
   
}
.container{
    width: 100%;
   
    

}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
    background-color: black;
    
   
 
}
header .navbar{
    list-style: none;
    margin: 0;
    padding: 0%;
    display: flex;
    

}
header .logo .first{
    display: flex;
    margin: 0;
    padding: 0%;
    align-items: center;
   
   margin-left: 30px;
}
header .logo .first li{
 margin: 0 13px;
 list-style: none;
 color: white;
 font-family: 'Gabarito', cursive;
 font-weight: 400;
 font-style: normal;
 font-size: 15px;
 letter-spacing: .1em;
 cursor: pointer;
 
 
 

}
.blank{
    height: 24px;
    background-color: black;
    width: 100%;
}
header .navbar{
    margin-right: 20px;
}

header .navbar li{
    display: block;
    color: white;
    margin: 0 13px;
  font-family: 'Gabarito', cursive;
    font-weight: 100;
    font-style: normal;
    font-size: 13px;
    letter-spacing: .1em;
    cursor: pointer;
   

}
header .navbar .text-change{
    color: #939393;
}
header .navbar .text-change:hover{
    color: white;
}
.model img{
    width: 100%;
}
.trend{
    height: 80px;
}
.trend h2{
    text-align: center;
    margin-top: 70px;
    font-family: DIN Neuzeit Grotesk,sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #000;
    transition: color .2s ease-in-out;
    letter-spacing: .1em;
    text-transform: uppercase;
   
    
   
}
.main{
   margin-left: 80px; 
   display: flex;
   flex-wrap: wrap;
}
.cards{
    display: inline-block;
    width: 400px;

    margin: 5px;
    margin-bottom: 40px;
    position: relative;

}
.cards .images img{
    
width: 350px;
object-fit: contain;
cursor: pointer;
   



}

.cards .coming p{
    background-color:white;
   color: black;
   position: absolute;
   top: 0;
   margin-top: 6px;
   font-size: 11px;
   padding-top: 4px;
   padding-bottom: 4px;
   padding-left: 8px;
   padding-right: 8px;
   letter-spacing: 2px;
   margin-left: 6px;
   font-family: 'Gabarito', cursive;
   font-weight: 580;
   font-style: normal;
}
.title{
    text-align: center;
    margin-top: 13px;
    font-family: 'Gabarito', cursive;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 580;
    cursor: pointer;
}
.disc{
    text-align: center;
    margin-top: 9px;
    font-family: 'Gabarito', cursive;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 580;
}
.btn{
    height: 100px;
    width: 100%;
   
    text-align: center;
}
.btn button{
    

    padding: 14px 28px;
    line-height: normal;
color: white;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    letter-spacing: .1em;
    font-family: DIN Neuzeit Grotesk,sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: black;
    cursor: pointer;
    transition: all 0.5s;
    
       
}
.btn button:hover{
    color: black;
    background-color: white;
}
footer {
    height: 300px;
    background-color: black;
    display: flex;
}
footer .foot{
    display: flex;
    
}

footer .foot .listt{
    display: flex;
    gap: 18px;
    list-style: none;
    color: white;
    font-family: DIN Neuzeit Grotesk,sans-serif;
    
    font-style: normal;
    font-size: 13px;
    letter-spacing: .1em;
    cursor: pointer;
    margin-top: 80px;
    margin-left: 450px;
}
footer p{
    display: flex;
    color: white;
  margin-left: -750px;
  margin-top: 220px;
  color: #939393;
  font-size: 11px;
  letter-spacing: 1.5 px;
  cursor: pointer;
  font-family: sans-serif;
}